<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gym_project">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Gym_Project"
        android:usesCleartextTraffic="true">
        <activity
            android:name="._MemberShipChooser"
            android:exported="true" />
        <activity
            android:name="._Members_Profile"
            android:exported="true" />
        <activity
            android:name="._Nutritios_chooser"
            android:exported="true" />
        <activity
            android:name=".Workout_member"
            android:exported="true" />
        <activity
            android:name=".MembersPage"
            android:exported="true" />
        <activity
            android:name=".EmployeePart"
            android:exported="true" />
        <activity
            android:name=".nutritiondetails"
            android:exported="true" />
        <activity
            android:name=".Nutrition"
            android:exported="true" />
        <activity
            android:name=".UpdateworkoutsS"
            android:exported="true" />
        <activity
            android:name=".addworkoutschadual"
            android:exported="true" />
        <activity
            android:name=".ManageMembership"
            android:exported="true" />
        <activity
            android:name=".UpdateOffers"
            android:exported="true" />
        <activity
            android:name=".AddOffer"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".membersDetails"
            android:exported="true" />
        <activity
            android:name=".UpdateMemberinfo"
            android:exported="true" />
        <activity
            android:name=".addmempers"
            android:exported="true" />
        <activity
            android:name=".Workout"
            android:exported="true" />
        <activity
            android:name="._GymActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>